In [ ]:
from nltk.tokenize import word_tokenize
import pandas as pd
import matplotlib.pyplot as plt
from typing import List, Dict
from datasets import Dataset
from transformers import AdamW, AutoTokenizer, AutoModelForSequenceClassification
from transformers import TrainingArguments, Trainer
import numpy as np
import evaluate
from transformers import DataCollatorWithPadding
from datetime import datetime
from transformers import pipeline
import os
import csv
import nltk
from nltk.tokenize import word_tokenize

In [ ]:
bleu = evaluate.load('bleu')
rouge = evaluate.load('rouge')
nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

In [ ]:
def evaluate_model():
  def ev_bleu(column, table):
    if not column:
      predictions = results_df["answer"].to_list()
      references = results_df["spoiler"].to_list()
      column = "general"
    else:
      predictions = results_df[results_df["label"] == column]["answer"].to_list()
      references = results_df[results_df["label"] == column]["spoiler"].to_list()

    results = bleu.compute(predictions=predictions, references=references, tokenizer=word_tokenize)
    res_table["bleu_"+column] = results

  def ev_roughe(column, table):
    if not column:
      predictions = results_df["answer"].to_list()
      references = results_df["spoiler"].to_list()
      column = "general"
    else:
      predictions = results_df[results_df["label"] == column]["answer"].to_list()
      references = results_df[results_df["label"] == column]["spoiler"].to_list()

    results = rouge.compute(predictions=predictions, references=references, tokenizer=word_tokenize)
    res_table["rouge_"+column] = results




  result_path = 'Data/newsqa_reults.csv'
  results_df = pd.read_csv(result_path)
  
  res_table = {}
  
  for col in ["", "phrase", "passage", "multi"]:
    # ev_roughe(col, res_table)
    ev_bleu(col, res_table)
  
  return res_table

res = evaluate_model()
res

{'bleu_general': {'bleu': 0.028108563054622084,
  'precisions': [0.2537313432835821,
   0.15703786398734765,
   0.12478818687969015,
   0.11326402016383112],
  'brevity_penalty': 0.1824641961801729,
  'length_ratio': 0.3702056548341015,
  'translation_length': 13735,
  'reference_length': 37101},
 'bleu_phrase': {'bleu': 0.12707816837556796,
  'precisions': [0.2481335952848723,
   0.16802096985583223,
   0.09894889452700253,
   0.06321553011448482],
  'brevity_penalty': 1.0,
  'length_ratio': 1.407243572021012,
  'translation_length': 5090,
  'reference_length': 3617},
 'bleu_passage': {'bleu': 0.00454915834543437,
  'precisions': [0.2810478654592497,
   0.16249749849909945,
   0.15159107992984214,
   0.150571791613723],
  'brevity_penalty': 0.025317451978407825,
  'length_ratio': 0.21384604744449823,
  'translation_length': 6184,
  'reference_length': 28918},
 'bleu_multi': {'bleu': 0.052871857571551946,
  'precisions': [0.19666802112962212,
   0.12132163138874548,
   0.10119047619047619,
   0.09907640638119228],
  'brevity_penalty': 0.4251371924603657,
  'length_ratio': 0.5389837932544898,
  'translation_length': 2461,
  'reference_length': 4566}}

In [ ]:
bleu.compute(predictions=["test is ke test", "Da steht ein Haus"], references=["test is ein test", "Da steht ein Haus"], tokenizer=word_tokenize)

{'bleu': 0.6179654585112234,
 'precisions': [0.875, 0.6666666666666666, 0.5, 0.5],
 'brevity_penalty': 1.0,
 'length_ratio': 1.0,
 'translation_length': 8,
 'reference_length': 8}

In [ ]:
  result_path = 'drive/MyDrive/ANLP/data/newsqa_reults.csv'
  results_df = pd.read_csv(result_path)

In [ ]:
results_df[["spoiler", "answer"]]

,spoiler,answer
0,how about that morning we go throw?,IdeaItâ€™ll be just like old times this weekend
1,2070,2070:
2,intellectual stimulation,Intellectual Stimulation
3,Purpose connects us to something bigger and in...,common wisdom.
4,in a rice cooker,the bottom of the
...,...,...
2994,Matthew Perry,Matthew Perry
2995,What am I going to learn?,"Ivy Ross,"
2996,will perform at MTV's upcoming European Music ...,Amsterdam
2997,"If there's an emergency, we have to be able to...",landingsEver wonder
2998,men between the ages of 18 and 34 are three-ti...,"Millennial men,"